{% extends 'base_change_form.html' %}

{% block title %}
    Ganti password
{% endblock %}

{% block form %}
<form method="post">
    {% csrf_token %}
    <h1 class="text-center mb-4">Ganti password</h1>
    <div class="form-group">
        {{form.old_password}}
    </div>
    <div class="form-group">
        {{form.new_password1}}
    </div>
    <div class="form-group">
        {{form.new_password2}}
    </div>
    <button type="submit" class="btn btn-dark w-100">Change password</button>
</form>

    
{% endblock %}