{% extends 'base_regis.html' %}

{% block title %}
    Sign up
{% endblock %}

{% block form %}
<form method="post">
    {% csrf_token %}
    <h1 class="text-center mb-4">Sign Up</h1>
    <div class="form-group">
        {{form.username}}
        <small id="emailHelp" class="form-text text-danger">{{form.username.errors.as_text}}</small>
    </div>
    <div class="form-group">
        {{form.email}}
        <small id="emailHelp" class="form-text text-danger">{{form.email.errors.as_text}}</small>
    </div>
    <div class="form-group">
        {{form.password1}}
        <small id="passwordHelpBlock" class="form-text text-danger"></small>
    </div>
    <div class="form-group">
        {{form.password2}}
        {% for errors in form.password2.errors %}
            <small id="emailHelp" class="form-text text-danger">* {{errors}}</small>
        {% endfor %}
    </div>
    <button type="submit" class="btn btn-dark w-100">Sign up</button>
</form>
{% endblock %}