{% extends 'base.html' %}

{% block title %}
    Post
{% endblock %}

{% block body %}
    <h2>{{post.title}}</h2>
    <p>{{post.desc}}</p>
    <p>{{post.created_at}}</p>
    <p>{{post.slug}}</p>
    <hr>
    <form action="{% url 'posts:comment' post.id %}" method="post">
        {% if errors %}
            <p class="is-error">{{ errors }}</p>
        {% endif %}
        {% csrf_token %}
        <textarea name="desc" cols="30" rows="5"></textarea><br>
        <input type="submit" value="submit">
    </form>
    {% for comment in post.comment_set.all %}
        <p>{{comment.desc}} - <a href="{% url 'posts:comment-edit' comment.id %}">Edit</a></p> 
    {% endfor %}
{% endblock %}