{% extends 'base.html' %}

{% block title %}
    Post
{% endblock %}

{% block body %}
    <h2>{{post.title}}</h2>
    <p>{{post.desc|safe}}</p>
    <p>{{post.created_at}}</p>
    <p>{{post.slug}}</p>
    <hr>
    {% if user.is_authenticated %}
        <b>komentar</b>
        <br>
        <hr>
        <form action="{% url 'posts:comment' post.id %}" method="post">
            <input type="hidden" name="user_id" value="{{ request.user.id }}">
            {% if errors %}
                <p class="is-error">{{ errors }}</p>
            {% endif %}
            {% csrf_token %}
            <textarea name="desc" cols="30" rows="5"></textarea><br>
            <input type="submit" value="submit">
        </form>
    {% else %}
        <p>harus login untuk komentar</p>
    {% endif %}
    
    {% for comment in post.comment_set.all %}
        <p>{{comment.user}} - {{comment.desc}} - 
        
        {% if request.user.id == comment.user.id %}
            <a href="{% url 'posts:comment-edit' comment.id %}">Edit</a></p>
        {% else %}
        
        {% endif %} 
    {% endfor %}
{% endblock %}